<% if user_signed_in? %>

<% else %>
    <div id = "Home" class = "Top">
        <div id = "TopContent">
            <h1>Reviews</h1>
            <span>すべてをレビューする</span>
        </div>
    </div>
<% end %>
