<p>こんにちは！ <%= @resource.name %>さん!</p>
<p>Reviewsをご利用いただきありがとうございます！</p>

<p>パスワード再設定用リンクが発行されました。以下のリンクより再設定することができます。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまでパスワードは変更されません。</p>
